# Server Configuration
PORT=3000

# Camera Configuration
# Use /dev/video0 for most USB cameras
# Run 'v4l2-ctl --list-devices' to find your camera device
CAMERA_DEVICE=/dev/video0

NETBIRD_MANAGEMENT_URL=https://vpn.digitalpool.com/   # or your self-hosted URL
NETBIRD_SETUP_KEY=
NETBIRD_API_TOKEN=